
//===============================================================================
// VARIABLES
//===============================================================================
$grey: #CACCD9;
$midgrey: #555570;
$ink: #000030;
$purple: #7700FF;

$bluemid: #2D8BCD;
$bluedark: #2D55CD;



$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





